# SmartPad-ANC update_manager entry
[update_manager Yumi_ANC]
type: git_repo
path: ~/Yumi_ANC
origin: https://github.com/Yumi-Lab/Yumi_ANC.git
primary_branch: main
install_script: install.sh
is_system_service: False
managed_services: klipper
